a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle3 { text-align:center; }
#container_83d87bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background:none;  }
#container_60320bed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#222222;  }
#container_60320bed_padding { margin: 10px; display: block;  }
#container_1383d4b1 { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:57px; background:none;  }
#container_1383d4b1_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_4a5a90a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:415px; background-color:#AA967B; background-image: url(rc_images/notebook.jpg); background-position:center center; background-size:cover;  }
.textstyle5 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#container_6470dc24 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6470dc24_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:32pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 4px #000000;  }
.textstyle7 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle8 { font-size:32pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E;  }
.textstyle9 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle10 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1545px; background-color:#222222;  }
#container_749be54d_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle12 { font-size:32pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
#img_91ac625 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
.textstyle13 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle14 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#container_459f1faa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_459f1faa_padding { margin: 10px; display: block;  }
#container_19d801ec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#222222;  }
#container_19d801ec_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
@media only screen and (max-width: 640px)
{
		#container_1383d4b1 * span { font-size:15pt;  }
		#container_6470dc24 * span { font-size:24pt;  }
}
